@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>
        TEST YOUR HUE CONNECTION --->

        <form asp-action="TestAPI" method="get">
            <button asp-action="TestAPI" asp-controller="Home" type="submit">Test api</button>
        </form>

        @if(ViewBag.Response != null)
        {
            <partial>@ViewBag.Response</partial>
        }

    </h1>


</div>
