@page "/"
@inject IConfiguration configuration
@inject HueSettingsConfig hueConfig

<PageTitle>Index</PageTitle>

@hueConfig.BridgeIP

<button @onclick="@DoTestCall">Test API</button>

<h1>@statusResponse</h1>

@code {
    HueHttpClient httpClient;

    string statusResponse = "Awaiting for a call....";

    protected override async Task OnInitializedAsync()
    {
        httpClient = new HueHttpClient(hueConfig);
    }

    public async Task<HttpResponseMessage> DoTestCall()
    {
        statusResponse = "Call in progress.....";
        var response = await httpClient.APITest();

        statusResponse = "Call done.....";

        statusResponse = response.StatusCode.ToString();

        return response;
    }
}